name: Update Readme

on:
    schedule:
        - cron: "* */12 * * *"  
    workflow_dispatch:

jobs:
    build:
      runs-on: ubuntu-latest
      name: Update Profile README

      steps:
          - uses: actions/checkout@v6.0.2

          - uses: jamesgeorge007/github-activity-readme@v0.4.4
            env:
                COMMIT_MSG: "update file readme"
