name: Update Readme

on:
    schedule:
        - cron: "* */12 * * *"  
    workflow_dispatch:

jobs:
    build:
      runs-on: ubuntu-latest
      name: Update Profile README

      steps:
          - uses: actions/checkout@3

          - uses: jamesgeorge007/github-activity-readme@master
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
